.main-nav li {
  display: inline;
  margin-right: 1em;
}
.nav {
  margin-top: 10px;
}
.nav-right {
  float: right;
}

.site-title {
  font-size: 4em;
  font-family: 'Kameron', serif;
}

a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:hover{
  color: purple;
}
a:active {
  color: purple;
}



.column {
  float: right;
  padding: 5px 10px;
  margin-right: 15px;
}

.column2 {
  float: left;
}
